@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:wght@400;700&display=swap');
/* -----------------------------
|| MAIN CSS VARIABLES
|| -------------------------- */
:root {
    --scrollbarURL: none;
    --nvs-form-control-height: 35px;
    --nvs-play-row-min-height: 40px;
    --nvs-header-row-height: 40px;
    --nvs-form-control-font-size: 12px;
    --nvs-playtext-viewport-size: calc(100vh - 90px);
    --nvs-background-color: #FFFFFF;
    --nvs-lightest-gray: #F2F2F2;
    --nvs-light-gray: #E6E6E6;
    --nvs-lighter-gray: #cfcfcf;
    --nvs-mid-gray: #828282;
    --nvs-yellow-gray: #3b371c;
    --nvs-dark-blue: #2a69a1;
    --nvs-light-blue: #6c9ecc;
    --nvs-lightest-blue: rgb(235, 244, 252);
    --nvs-primary-orange: #CC5F38;
    --nvs-secondary-orange: #F1B06E;
    --nvs-burnt-orange: #d87448;
    --nvs-light-orange: #F9EFE4;
    --nvs-dark-yellow: #F0E438;
    --nvs-light-yellow: #f9f1d9;
    --nvs-light-beige: #FBF5F1;
    --nvs-dark-beige: #EBE4DD;
}

/* -----------------------------
|| FONTS
|| -------------------------- */
@font-face {
    font-family: "HalyardTextBook";
    src: url("/static/proprietary/font/HalyardTextBook.woff2") format('woff2'), url("/static/proprietary/font/HalyardTextBook.woff") format('woff');
}

@font-face {
    font-family: "HalyardTextSemiBold";
    src: url("/static/proprietary/font/HalyardTextSemBd.woff2") format('woff2'), url("/static/proprietary/font/HalyardTextSemBd.woff") format('woff');
}

@font-face {
    font-family: "HalyardTextMedium";
    src: url("/static/proprietary/font/HalyardTextMed.woff2") format('woff2'), url("/static/proprietary/font/HalyardTextMed.woff") format('woff');
}

@font-face {
    font-family: "FormulaSerial";
    src: url('/static/font/FormulaSerial.woff2') format('woff2'), url('/static/font/FormulaSerial.woff') format('woff');
}

@font-face {
    font-family: "Baskerville";
    src: url("/static/proprietary/font/Baskerville10Pro.woff") format('woff');
}

@font-face {
    font-family: "Baskerville";
    src: url("/static/proprietary/font/Baskerville10Pro-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Baskerville";
    src: url("/static/proprietary/font/Baskerville10Pro-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "Baskerville";
    src: url("/static/proprietary/font/Baskerville10Pro-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

/* -----------------------------
|| MAIN STRUCTURE
|| -------------------------- */
body {
    background-color: #FFFFFF;
}

#main-header {
    margin-left: 220px;
}

body.mobile #main-header {
    margin-left: 0px;
}

canvas {
    display: block;
}

#loading-overlay {
    top: 0;
    z-index: 5000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}

#loading-modal {
    padding: 15px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 12px;
    background-color: var(--nvs-background-color);
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    min-height: 210px;
}

/* -----------------------------
|| TEMPORARY HEADER NAV
|| -------------------------- */
.nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.02em;
}

.dropdown-toggle::after, .dropright .dropdown-toggle::after {
    display: none;
}

.dropdown-toggle svg, #play-title svg {
    height: 9px;
    width: auto;
    margin: 6px 0 0 5px;
    transform: rotate(90deg);
    transform-origin: center center;
}

.dropright .dropdown-toggle svg {
    transform: rotate(0deg);
    float: right;
}

#active-menu-item {
    font-weight: bold;
}

@media (min-width: 950px) {
    .edition-menu {
        min-width: 300px;
    }

    .info-menu, .tools-menu {
        min-width: 220px;
    }
}

.info-menu {
    background-color: var(--nvs-lightest-blue);
    border-right: solid 1px var(--nvs-background-color);
}

.tools-menu {
    background-color: rgb(242, 242, 242);
}

.menu-shadow {
    border: none;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu-shadow.show {
    box-shadow: rgba(99, 99, 99, 0.3) 4px 8px 8px 0;
}

li.dropdown, li.dropdown a {
    max-height: 35px;
}

.nav li a {
    padding: 0.5rem 1rem 1.5rem 1rem;
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(55, 55, 55);
}

.nav li a:hover {
    color: var(--nvs-dark-blue);
    text-decoration: none;
}

span.beta {
    color: #808080;
    font-weight: normal;
}

.dropdown-item {
    padding: 0px;
}

.dropdown-item:active {
    background-color: inherit;
}

.dropdown-item a {
    padding-bottom: 0px;
}

#play-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 5px;
    line-height: 1;
}

#play-title svg {
    transform: rotate(0deg);
    width: 10px;
    height: auto;
}

.title-section {
    color: var(--nvs-dark-blue);
}

.byline-div {
    /*border-top: solid 1px var(--nvs-lightest-blue);
    border-left: solid 1px var(--nvs-lightest-blue);*/
}

.byline {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.heading-label {
    font-family: "HalyardTextSemiBold", sans-serif;
    color: var(--nvs-mid-gray);
    font-size: 14px;
}

.view-col {
    background-color: var(--nvs-background-color);
    border-left: solid 5px var(--nvs-background-color);
    border-right: solid 5px var(--nvs-background-color);
}

.right-chevron {
    height: 10px;
    width: auto;
}

/* -----------------------------
|| CONTROLS
|| -------------------------- */
.nvs-search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100px;
    float: right;
    margin: 2.5px 0px;
    font-size: var(--nvs-form-control-font-size);
    line-height: 1;
    color: #333;
    background-color: #ffffff;
    background-image: url('/static/img/controls/search_placeholder.svg');
    background-repeat: no-repeat;
    background-size: initial;
    border: 2px solid var(--nvs-light-gray);
    -ms-word-break: normal;
    word-break: normal;

    position: relative;
    height: var(--nvs-form-control-height);
    padding: 10px;
    padding-left: 55px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nvs-search:hover {
    background-image: url('/static/img/controls/VAR-bar-search-ROLL.svg');
}

.nvs-search:focus, .nvs-search.not-empty {
    background-image: url('/static/img/controls/VAR-bar-search-ROLL.svg');
    background-size: 50px;
    height: unset;
    min-height: var(--nvs-form-control-height);
    max-height: 150px;
}

#playtext-search-close-button {
    position: relative;
    left: -30px;
    top: 13px;
    cursor: pointer;
    color: var(--nvs-mid-gray);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--nvs-dark-blue);
}

.nav-pills .nav-link {
    color: var(--nvs-dark-blue);
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 0;
    cursor: pointer;
}

.nvs-tln {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100px;
    float: right;
    margin: 2.5px 0px;
    font-size: var(--nvs-form-control-font-size);
    line-height: 1;
    color: #333;
    background-color: #ffffff;
    background-image: url('/static/img/controls/tln_placeholder.svg');
    background-repeat: no-repeat;
    border: 2px solid var(--nvs-light-gray);
    position: relative;
    height: var(--nvs-form-control-height);
    padding: 10px;
    padding-left: 38px;
}

.nvs-tln:focus, .nvs-tln:hover {
    background-image: url('/static/img/controls/tln.svg');
    background-size: 30px;
}

input[type=radio], input[type=checkbox] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.form-check-label, .btn-link {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    color: var(--nvs-background-color);
}

label.checkbox-white, .btn-link, .btn-link:hover {
    color: var(--nvs-mid-gray);
}

input[type=radio] + label.radio {
    cursor: pointer;
    background-image: url('/static/img/controls/radio.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
}

input[type=radio]:checked + label.radio {
    background-image: url('/static/img/controls/radio-selected.svg');
}

input[type=checkbox] + label.checkbox, input[type=checkbox] + label.checkbox-white {
    cursor: pointer;
    background-image: url('/static/img/controls/checkbox.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
}

input[type=checkbox]:checked + label.checkbox {
    background-image: url('/static/img/controls/checkbox-selected.svg');
}

input[type=checkbox] + label.checkbox-white {
    background-image: url('/static/img/controls/checkbox-white.svg');
}

input[type=checkbox]:checked + label.checkbox-white {
    background-image: url('/static/img/controls/checkbox-white-selected.svg');
}

/* -----------------------------
|| PLAY READER VIEW
|| -------------------------- */

.header-block {
    min-height: var(--nvs-header-row-height);
    flex-grow: 1;
}

.bg-nvs {
    background-color: var(--nvs-background-color);
}

.bg-nvs-light-blue {
    background-color: var(--nvs-light-blue);
}

.bg-nvs-dark-blue {
    background-color: var(--nvs-dark-blue);
}

.bg-nvs-light-orange {
    background-color: var(--nvs-light-orange);
}

.bg-nvs-light-yellow {
    background-color: var(--nvs-light-yellow);
}

.bg-nvs-lightest-gray {
    background-color: var(--nvs-lightest-gray);
}

.text-nvs-dark-blue {
    color: var(--nvs-dark-blue);
}

.text-white {
    color: #FFFFFF;
}

.vertical {
    font-family: "Roboto Condensed";
    font-size: 12px;
    position: relative;
    transform: rotate(-90deg);
    transform-origin: 45% 70%;
    line-height: 1;
}

#witness-header {
    height: var(--nvs-form-control-height);
}

#playtext-col, #playtext-header-col, #act-scene-frame, #commentary-frame {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: var(--nvs-playtext-viewport-size);
    background-repeat: no-repeat;
}

#playtext-col::-webkit-scrollbar, #playtext-header-col::-webkit-scrollbar {
    width: 40px;
}

#playtext-col::-webkit-scrollbar-track {
    background-color: var(--nvs-lightest-gray);
    background-image: var(--scrollbarURL);
    background-size: contain;
    background-repeat: no-repeat;
}

#playtext-col::-webkit-scrollbar-thumb {
    background-color: rgba(42, 105, 161, .5);
}

body.mobile #playtext-col::-webkit-scrollbar, body.mobile #playtext-header-col::-webkit-scrollbar {
    width: unset;
}


body.mobile #playtext-col ::-webkit-scrollbar-track {
    background-color: unset;
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
}

body.mobile #playtext-col::-webkit-scrollbar-thumb {
    background-color: unset;
}

#playtext-header-col::-webkit-scrollbar-track {
    background-color: var(--nvs-lightest-gray);
    background-image: url('/static/img/controls/nav.svg');
    background-repeat: no-repeat;
    background-position: bottom 4px center;
    background-size: 9px;
}

#playtext-col, #playtext-header-col, #act-scene-header-col, #act-scene-frame {
    border-right: solid 1px var(--nvs-lighter-gray);
}

.act-scene-col {
    width: 40px;
}

#act-scene-frame {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--nvs-lightest-gray);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#commentary-frame {
    background-color: var(--nvs-light-yellow);
    padding: 10px;
    padding-top: 0px;
}

.play-row {
    border-top: solid 1px var(--nvs-light-blue);
    min-height: var(--nvs-play-row-min-height);
    box-sizing: border-box;
    /*content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;*/
}

.play-label {
    background-color: var(--nvs-background-color);
    color: var(--nvs-mid-gray);
    border: none;
    border-left: solid 1px var(--nvs-lighter-gray);
    border-right: solid 1px var(--nvs-lighter-gray);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

body.mobile .play-label {
    border-left: unset;
    border-right: unset;
}

.play-words {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: 'Baskerville', serif;
    font-variant-numeric: oldstyle-nums;
    font-size: clamp(1.125rem, 1.2vw, 1.5rem);
    color: #070707;
    background-color: var(--nvs-background-color);
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.play-words.no-variants {
    padding-left: 41px !important;
}

/* -----------------------------
|| PLAY TEXT STYLING
|| -------------------------- */
comspan {
    display: inline;
}
comspan.highlight {
    background-color: rgba(249, 240, 175, .52);
    border-bottom: solid 1px var(--nvs-dark-yellow);
    cursor: pointer;
}

span.castlist:not(:empty) {
    width: 100%;
}
h3.heading {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

span.castgroup {
    margin-left: 10px;
    margin-right: 5px;
}

span.role {
    font-weight: bold;
}

span.roledesc {
    font-style: italic;
    display: inline-block;
    margin-left: 5px;
}

span.stage {
    font-style: italic;
    margin-right: auto !important;
    margin-left: 10px !important;
}

span.speaker-abbreviation {
    font-style: italic;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

span.foreign, span.entity {
    font-style: italic;
}

/* LINEATION MARKERS */
span.open-bracket-marker, span.close-bracket-marker, span.open-half-bracket-marker, span.close-half-bracket-marker, span.asterix-marker, span.pipe-marker {
    color: var(--nvs-mid-gray);
}
span.open-bracket-marker::after {
    content: "[";
}
span.close-bracket-marker::after {
    content: "]";
}
span.open-half-bracket-marker::after {
    content: "⸢";
}
span.close-half-bracket-marker::after {
    content: "⸣";
}
span.asterix-marker::after {
    content: "*";
}
span.pipe-marker::after {
    content: "|";
}

.witness-meter, .variant-witness-meter {
    display: flex;
    align-self: center;
}

.clickable {
    cursor: pointer;
}

.variant-toggler {
    margin: 0px;
    margin-right: 9px;
    width: 33px;
    height: 38px;
    cursor: pointer;
}

.variant-toggler[aria-expanded=false] {
    background-image: url('/static/img/controls/TV-expand-variants.svg');
}

.variant-toggler[aria-expanded=false]:hover {
    background-image: url('/static/img/controls/TV-expand-variants-ROLL.svg');
}

.variant-toggler[aria-expanded=true] {
    background-image: url('/static/img/controls/TV-collapse-variants.svg');
}

.variant-toggler[aria-expanded=true]:hover {
    background-image: url('/static/img/controls/TV-collapse-variants-ROLL.svg');
}

.variant-row {
    border-bottom: solid 1px var(--nvs-light-blue);
}

.witness-formula {
    color: #f99b4e;
    background-color: var(--nvs-light-orange);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.variant-play-label {
    background-color: #f2f2f2;
}

.variant-words {
    font-family: 'Baskerville', serif;
    font-size: clamp(1.125rem, 1.2vw, 1.5rem);
    font-variant-numeric: oldstyle-nums;
    color: #2D2D2D;
    padding-left: 41px !important;
    padding-top: 10px;
    padding-bottom: 5px;
}

.variant-note {
    color: #070707;
    font-style: italic;
}

span.difference {
    color: #e9702b;
    background-color: #FFFFFF;
}

.act-scene-comm-col {
    display: flex;
}

.comm-heading {
    background-color: var(--nvs-dark-yellow);
    font-family: 'Baskerville', serif;
    font-variant-numeric: oldstyle-nums;
    font-size: clamp(1.125rem, 1.2vw, 1.5rem);
    cursor: pointer;
    color: #000000;
}

.comm-heading > .comm-indicator {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

.comm-heading:hover {
    color: var(--nvs-light-blue);
}

.comm-block {
    color: #000000;
    font-family: 'HalyardTextBook';
    font-size: clamp(13px,1.2vw,16px);
    margin-bottom: 20px;
    font-variant-numeric: oldstyle-nums;
}

.comm-block a {
    color: var(--nvs-dark-blue);
}

.actscene-indicator {
    color: var(--nvs-mid-gray);
    font-size: 12px;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    border-top: solid 1px var(--nvs-lighter-gray);
    padding-top: 2px;
}

.actscene-indicator.active {
    font-weight: bold;
    background-color: var(--nvs-light-blue);
    color: white;
}

.actscene-indicator:hover {
    background-color: var(--nvs-dark-blue);
    color: white;
}

.actscene-divider {
    border-top: solid 1px var(--nvs-mid-gray);
    width: 100%;
}


/* -----------------------------
|| SEARCH WIDGET
|| -------------------------- */

#search-widget {
    opacity: 0.8;
}

#search-widget a, #search-widget .tab-pane {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

#search-results-div {
    border: 1px solid var(--nvs-mid-gray);
    border-bottom: none;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.nav-tabs .nav-link {
    border-radius: 0px !important;
}

mark {
    padding: .2em;
    background-color: var(--nvs-light-blue);
    color: white;
}

/* -----------------------------
|| FILTER WIDGET
|| -------------------------- */

#filter-widget {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#filter-widget-no-lines-alert {
    max-width: calc(40vw);
}

#filter-widget-content-div {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    overflow-y: scroll;
    min-width: 350px;
}

#filter-widget-content-div a {
    color: var(--nvs-dark-blue);
}

#filter-widget-content-div .form-check-label {
    font-size: 1rem;
    font-weight: normal;
}

#filter-widget-content-div input[type=checkbox] + label.checkbox-white {
    background-position: left 5px;
}

#filter-apply-button {
    font-size: 1rem;
    border-radius: 0 !important;
    background-color: var(--nvs-light-blue);
    color: var(--nvs-background-color);
}

#filter-apply-button:hover {
    background-color: var(--nvs-dark-blue);
}

#playtext-header-controls a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--nvs-burnt-orange);
}

/* -----------------------------
|| NAV MODAL
|| -------------------------- */

#nav-modal-label {
    font-family: 'Baskerville', serif;
    font-variant-numeric: oldstyle-nums;
}

#nav-modal-body {
    font-family: 'FormulaSerial';
    overflow-y: scroll;
    max-height: calc(80vh);
}

.ref-modal {
    position: absolute;
    max-width: calc(40vw);
}

.ref-modal .tab-pane {
    padding: 10px;
}

.arrow-right, .arrow-left, .arrow-top, .arrow-none {
    background-color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--nvs-mid-gray);
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.arrow-right {
    float: left;
}

.arrow-left {
    float: right;
}

.arrow-right:after, .arrow-right:before, .arrow-left:after, .arrow-left:before, .arrow-top:after, .arrow-top:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    left: -15px;
    top: 10%;
}

.arrow-right:after, .arrow-right:before {
    left: 100%;
}

.arrow-top:after, .arrow-top:before {
    top: -15px;
    left: 15px;
}

.arrow-right:after {
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid white;
    border-bottom: 15px solid transparent;
}

.arrow-right:before {
    border-top: 17px solid transparent;
    border-right: none;
    border-left: 16px solid var(--nvs-mid-gray);
    border-bottom: 16px solid transparent;
    margin-top: -2px;
}

.arrow-left:after {
    border-top: 15px solid transparent;
    border-left: none;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
}

.arrow-left:before {
    border-top: 17px solid transparent;
    border-left: none;
    border-right: 16px solid var(--nvs-mid-gray);
    border-bottom: 16px solid transparent;
    margin-top: -2px;
    margin-left: -1px;
}

.arrow-top:after {
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white;
    margin-left: 1px;
}

.arrow-top:before {
    border-top: none;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 16px solid var(--nvs-mid-gray);
    top: -16px;
}

.ref-modal-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
    cursor: move;
}

.ref-subtitle-marker {
    background-color: var(--nvs-dark-blue);
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 5px;
}

.ref-modal-control {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: var(--nvs-mid-gray);
}

.ref-modal-control:hover {
    text-decoration: none;
}

.ref-modal-control.new-tab {
    background-image: url('/static/img/controls/Modal-NEWTAB.svg');
}

.ref-modal-control.new-tab:hover {
    background-image: url('/static/img/controls/Modal-NEWTAB-all-ROLL.svg');
}

.ref-modal-control.go-to {
    background-image: url('/static/img/controls/Modal-GOTO.svg');
}

.ref-modal-control.go-to:hover {
    background-image: url('/static/img/controls/Modal-GOTO-ALL-ROLL.svg');
}

.ref-modal-control.close {
    background-image: url('/static/img/controls/Modal-CLOSE.svg');
}

.ref-modal-control.close:hover {
    background-image: url('/static/img/controls/Modal-CLOSE-all-ROLL.svg');
}

.ref-modal-content {
    padding: 10px;
    font-family: 'HalyardTextBook';
    max-height: calc(40vh);
    overflow-y: scroll;
}

.ref-modal-content .comm-heading {
    cursor: unset;
}

.ref-modal-content .comm-heading:hover {
    color: #000000;
}

.ref-row {
    width: calc(40vw);
    border-top: solid 1px var(--nvs-lighter-gray);
}

.ref-row:last-child {
    border-bottom: solid 1px var(--nvs-lighter-gray);
}

/* -----------------------------
|| REF LINKS
|| -------------------------- */
.ref-bibl {
    font-family: "HalyardTextMedium";
    color: var(--nvs-dark-blue);
}

.ref-siglum {
    font-family: "HalyardTextSemiBold";
    color: var(--nvs-burnt-orange) !important;
}

.ref-lb, .ref-note_cn, .ref-anchor, .ref-p, .ref-text, .ref-item, .ref-quote, .ref-div, .ref-l {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: var(--nvs-dark-blue);
}

.ref-lb:before, .ref-lb:hover:before {
    content: "TLN ";
    font-weight: normal;
    text-decoration: none;
}

.ref-anchor, .ref-p, .ref-text, .ref-item, .ref-quote, .ref-div, .ref-l {
    text-transform: uppercase;
}

/* -----------------------------
|| BIBLIOGRAPHY
|| -------------------------- */
.ref-modal-content .name, .ref-modal-content .author, .ref-modal-content .editor {
    color: var(--nvs-dark-blue);
    font-weight: 700;
}
.ref-modal-content .date {
    font-family: "HalyardTextMedium";
}

.ref-modal-content .title.level_m, .ref-modal-content .title.level_j {
    font-style: italic;
}
.ref-modal-content .title.level_m .title.level_m {
    font-style: normal;
}

.ref-modal-content .title.level_a {
    quotes: "“" "”" "‘" "’";
}
.ref-modal-content .title.level_a::before {
    content: open-quote;
}
.ref-modal-content .title.level_a::after {
    content: close-quote;
}

.ref-modal-content .quote {
    quotes: "‘" "’";
}
.ref-modal-content .quote::before {
    content: open-quote;
}
.ref-modal-content .quote::after {
    content: close-quote;
}
