{% extends 'nvs_base.html' %}{% load static %}

{% block headrefs %}<!-- This goes inside the head tag specific for this page -->
<style>
    div.anchor {
        margin-bottom: 40px;
    }
    .contributors--grid {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @media ( min-width: 768px ) {
        .contributors--grid {
            grid-template-columns: 310px 310px;
            grid-gap: 30px;
        }
    }
    @media ( min-width: 1250px ) {
        .contributors--grid {
            grid-template-columns: 310px 310px 310px;
        }
    }
    .contributors--person-tile h3 {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .contributors--person-tile img {
        filter: grayscale(100%) contrast(120%);
        mix-blend-mode: multiply;
        width: 100%;
        height: auto;
        display: block;
    }
    .contributors--person-tile .no-headshot {
        background-color: var(--grey3);
        width: 100%;
        height: 0;
        padding-bottom: calc(100% / 16 * 8);
        display: block;
    }
    .contributors--person-tile > :first-child { margin-top: 0; }
    .contributors--person-tile > :last-child { margin-bottom: 0; }

    .contributors--more-btn {
        font-size: inherit;
        text-decoration: underline;
        padding: 0;
        background-color: transparent;
        border: none;
        font-weight: bold;
        display: block;
    }
    .contributors--more-btn .less { display: none; }
    .contributors--more-btn .more { display: inline; }
    .contributors--more-section.active .contributors--more-btn .less { display: inline; }
    .contributors--more-section.active .contributors--more-btn .more { display: none; }
    .contributors--more-content {
        display: none;
    }
    .contributors--more-section.active .contributors--more-content {
        display: inline;
    }
</style>{% endblock %}

{% block main %}

<div class="page-title is-blue">
  <h1>Contributors</h1>
</div>

<div class="page-holder is-blue">
  <div class="container">
    <div class="page-holder--inner">
      <div class="anchor-links--holder">
        <button class="anchor-links--toggle link roboto-uppercase">page navigation</button>
        <ul class="anchor-links--inner">
          <li class="anchor-link">
            <a href="#board">NVS Board</a>
          </li>
          <li class="anchor-link">
            <a href="#general-editors">General Editors</a>
          </li>
          <li class="anchor-link">
            <a href="#contributing-editors">Volume Editors</a>
          </li>
          <li class="anchor-link">
            <a href="#digital-editors">Digital Editors</a>
          </li>
          <li class="anchor-link">
            <a href="#research-design">Research & Design</a>
          </li>
          <li class="anchor-link">
            <a href="#student-researchers">Student Research Assistants</a>
          </li>
          <li class="anchor-link">
            <a href="#former">Former Contributors</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="board" class="anchor">
          <h2>NVS Board</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.NVSBoard %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>
        <div id="general-editors" class="anchor">
          <h2>General Editors</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.GeneralEditors %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>
        <div id="contributing-editors" class="anchor">
          <h2>Volume Editors</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.VolumeEditors %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>

        <div id="digital-editors" class="anchor">
          <h2>Digital Editors</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.DigitalEditors %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>

        <div id="research-design" class="anchor">
          <h2>Research & Design</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.ResearchDesign %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>

        <div id="student-researchers" class="anchor">
          <h2>Student Research Assistants</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.StudentResearchAssistants %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>

        <div id="former" class="anchor">
          <h2>Former Contributors</h2>
          <ul class="contributors--grid">

            {% for contrib in contributors.FormerContributors %}
            <li class="contributors--person-tile">
              {% if contrib.profile_pic_url %}<img src="{{ contrib.profile_pic_url }}" alt="{{ contrib.first_name }} {{ contrib.last_name }}"/>{% endif %}
              <h3 class="type-size-0">{{ contrib.first_name }} {{ contrib.last_name }}, {{ contrib.title|safe }}</h3>
              {% if contrib.bio_teaser %}
              <p class="type-size--1">
                {{ contrib.bio_teaser|safe }}
                {% if contrib.bio_remainder %}
                <span class="contributors--more-section">
                  <span class="contributors--more-content">{{ contrib.bio_remainder|safe }}</span>
                  <button class="contributors--more-btn">Read <span class="more">more</span><span class="less">less</span></button>
                </span>
                {% endif %}
              </p>
              {% endif %}
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>{% endblock %}

{% block js %}

<script>
  function moreBtnInit() {
    let holders = document.querySelectorAll('.contributors--more-section');
    if (holders) {
      holders.forEach(holder => {
        let button = holder.querySelector('.contributors--more-btn');
        if (button) {
          button.addEventListener('click', () => {
            holder.classList.toggle('active');
          });
        }
      })
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    moreBtnInit();
  })
</script>

{% endblock %}