{% extends 'nvs_base.html' %}
{% block body_class %} home {% endblock %}
{% load static %}

{% block headrefs %}
<style>
    :root {
        --sideBar: 190px;
    }

    .nvs_base--main {
        margin-top: 20px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .home--intro {
        color: var(--blue);
    }
    .home--masthead {
        display: none;
    }

    @media ( min-width: 992px ) {
        .home--intro {
            position: relative;
        }

        .page-holder {
            padding: 35px 0 140px 0;
        }

        .home--masthead {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 220px;
            border-top: solid 2px var(--blue);
            border-bottom: solid 2px var(--blue);
        }

        .home--masthead--link-holder {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 23px;
            margin-bottom: 20px;
        }

        .home--masthead--link-holder a, .home--intro-text > p a {
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
        }

        .home--masthead--banner-holder {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .home--intro-text {
            margin-top: 20px;
        }

        .home--intro-text > p {
            color: var(--blue);
            text-align: center;
        }
    }

    @media ( min-width: 992px ) {
        .home--intro-inner {
            position: sticky;
            top: 333px;
            left: 0;
            margin-right: 40px;
        }
    }
    .home--intro-inner p {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .home--main-content {
        margin-bottom: 30px;
    }
    @media ( min-width: 768px ) {
        .home--main-content {
            margin-bottom: 60px;
        }
    }

    .home--cards {
        display: grid;
        grid-template-columns: 260px;
        grid-gap: 15px;
        margin: 30px 0 10px 0;
        align-items: start;
        justify-content: center;
    }
    @media ( min-width: 576px ) {
        .home--cards { grid-template-columns: 260px 260px; }
    }
    @media ( min-width: 850px ) {
        .home--cards {
            grid-template-columns: 260px 260px 260px;
        }
    }
    @media ( min-width: 1400px ) {
        .home--cards {
            grid-template-columns: 260px 260px 260px 260px;
        }
    }

    .edition-card--holder {
        color: var(--white);
        border: 1px solid var(--white);
    }
    .edition-card--holder.current {
        cursor: pointer;
    }
    .edition-card--holder.current.open {
        border: 1px solid var(--yellow);
    }
    .edition-card--image-holder {
        background-color: var(--grey3);
        padding: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .edition-card--holder.current .edition-card--image-holder {
        background-color: var(--blue6);
    }
    .edition-card--image-holder img {
        max-height: 160px;
        width: auto;
        display: block;
    }
    .edition-card--image-holder svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: 2;
    }
    .edition-card--text-inner {
        padding: 7px 9px 9px 9px;
        min-height: 82px;
        background-color: var(--grey2);
    }
    .edition-card--holder.current .edition-card--text-inner {
        padding: 9px;
        background-color: var(--blue);
    }
    .edition-card--text-inner h2 {
        margin: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 21px;
        line-height: 1;
    }
    .edition-card--text-inner h2 .year {
        font-weight: normal;
        font-size: 16px;
    }
    .edition-card--text-inner small {
        color: var(--yellow);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 12px;
    }
    .edition-card--nav {
        color: var(--white);
        background-color: var(--blue);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    .edition-card--holder.current.open .edition-card--nav {
        max-height: 200px;
    }
    .edition-card--nav ul {
        margin: 0;
        list-style: none;
        padding: 0 0 9px 0;
    }
    .edition-card--nav ul li {
        margin: 0;
        padding: 0 9px;
        font-size: 15px;
    }
    .edition-card--nav ul li:hover {
        color: var(--blue);
        background-color: var(--grey3);
    }
    .edition-card--nav ul li a {
        display: inline-block;
        text-decoration: none;
    }
    .edition-card--nav ul li a:hover {
        text-decoration: none;
    }

    .edition-card--editors {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0 10px 0;
    }

    .home--main-content .note {
        font-size: 14px;
    }

</style>
{% endblock %}

{% block main %}
<div class="page-holder is-white">
  <div class="container">
    <div class="page-holder--inner">

      <div class="home--intro">
        <div class="home--intro-inner">
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="home--main-content">

        <div class="home--masthead">
          <div class="home--masthead--banner-holder">
            <h1 style="padding: 0; margin: 0;">
                <span class="sr-only">New Variorum Shakespeare</span>
            </h1>
            {% include 'svg/brand_banner.svg' %}
          </div>
          <div class="home--masthead--link-holder roboto-uppercase">
            <span></span>
            <a href="{% if site_request %}/about/{% else %}/corpus/{{ corpus_id }}/about/{% endif %}">About</a>
            <a href="{% if site_request %}/how-to/{% else %}/corpus/{{ corpus_id }}/how-to/{% endif %}">How to Digital NVS</a>
            <a href="{% if site_request %}/faqs/{% else %}/corpus/{{ corpus_id }}/faqs/{% endif %}">FAQs & Lexicon</a>
            <span></span>
          </div>
        </div>

        <div class="home--intro-text">
          <p>
              NVS Digital Editions contain the complete text of each play along with a full collation
              of textual notes from the earliest editions to the present, including extensive previous
              commentary. General Editors: Paul Werstine and Eric Rasmussen.</p>
          <p>This site is in BETA mode. Your <a href="mailto:torabik@tamu.edu">feedback</a> can help us define future versions.</p>
        </div>

        <div class="home--cards">

          {% for play in plays %}
          <div>
            <div class="edition-card--holder{% if play.status == 'Live' %} current{% endif %}">
              <div class="edition-card--image-holder">
                {% include 'svg/edition-overlay.svg' %}
                <img src="{{ play.thumbnail }}" alt="{{ play.title }}"/>
              </div>
              <div class="edition-card--text">
                <div class="edition-card--text-inner">
                  {% if play.status != 'Live' %}<small>{{ play.status|safe }}</small>{% endif %}
                  <h2>{{ play.title }}</h2>
                </div>
                {% if play.status == 'Live' %}
                <div class="edition-card--nav">
                  <ul>
                    <li class="roboto-uppercase"><a
                        href="{% if site_request %}/edition/{{ play.prefix }}/{% else %}/corpus/{{ corpus_id }}/play-viewer/{{ play.prefix }}/{% endif %}">Variorum
                      Reader</a></li>
                    <li class="roboto-uppercase"><a
                        href="{% if site_request %}/front/{{ play.prefix }}/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/{{ play.prefix }}/Front Matter/{% endif %}">Front
                      matter</a></li>
                    <li class="roboto-uppercase"><a
                        href="{% if site_request %}/bibliography/{{ play.prefix }}/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/{{ play.prefix }}/Bibliography/{% endif %}">Bibliography</a>
                    </li>
                    <li class="roboto-uppercase"><a
                        href="{% if site_request %}/appendix/{{ play.prefix }}/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/{{ play.prefix }}/Appendix/{% endif %}">Appendix</a>
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            <p class="edition-card--editors">{{ play.editors }}</p>
          </div>
          {% endfor %}

        </div>

        <small class="note"><sup>*</sup>Production status: print editions of <a
            href="https://www.mla.org/Publications/Bookstore/A-New-Variorum-Edition-of-Shakespeare/The-Comedy-of-Errors"
            target="_blank" rel="noopener noreferrer">The Comedy of Errors</a> and <a
            href="https://www.mla.org/Publications/Bookstore/A-New-Variorum-Edition-of-Shakespeare/King-Lear"
            target="_blank" rel="noopener noreferrer">King Lear</a> can be obtained from the MLA website.</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!-- If you wanted this particular page to have a javascript library referenced, put it here -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    let holders = document.querySelectorAll('.edition-card--holder.current');
    holders.forEach(holder => {
      holder.addEventListener("click", () => {
        holder.classList.toggle('open');
      })
    })

    if (window.innerWidth >= 992) {
        let nav = document.querySelectorAll('.large-header--holder > .container')
        nav = nav[0]
        nav.style.maxWidth = '1400px'
        nav.style.margin = '0 auto'
    }
  })
</script>
{% endblock %}