{% load static %}
{% load extras %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        <!-- CSS -->
        <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/regular.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap5.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/nvs-playviewer.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="main-container" class="container-fluid h-100">
            <!-- MAIN HEADER -->
            <div id="main-header" class="row">
                <!-- LOGO -->
                <div class="col-sm-2 pt-2">
                    <a href="/"><img src="/static/img/nvs-logo.png" class="img-fluid m-0" style="max-width: 57px;"></a>
                </div>

                <!-- NAV -->
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav">
                                <li class="dropdown menu-shadow">
                                    <a id="active-menu-item" class="dropdown-toggle edition-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NVS DIGITAL EDITIONS <span class="beta">(BETA)</span> <img src="/static/svg/arrow.svg" class="right-chevron" /></a>
                                    <ul class="dropdown-menu menu-shadow">
                                        <li class="dropdown-item">
                                            <div class="dropright">
                                                <a class="dropdown-toggle edition-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">THE WINTER'S TALE <img src="/static/svg/arrow.svg" class="right-chevron" /></a>
                                                <ul class="dropdown-menu menu-shadow">
                                                    <li class="dropdown-item"><a href="{% if site_request %}/edition/wt/{% else %}/corpus/{{ corpus_id }}/play-viewer/wt/{% endif %}">VARIORUM READER</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/front/wt/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/wt/Front Matter/{% endif %}">FRONT MATTER</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/bibliography/wt/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/wt/Bibliography/{% endif %}">BIBLIOGRAPHY</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/appendix/wt/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/wt/Appendix/{% endif %}">APPENDIX</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="dropright">
                                                <a class="dropdown-toggle edition-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A MIDSUMMER NIGHT'S DREAM <img src="/static/svg/arrow.svg" class="right-chevron" /></a>
                                                <ul class="dropdown-menu menu-shadow">
                                                    <li class="dropdown-item"><a href="{% if site_request %}/edition/mnd/{% else %}/corpus/{{ corpus_id }}/play-viewer/mnd/{% endif %}">VARIORUM READER</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/front/mnd/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/mnd/Front Matter/{% endif %}">FRONT MATTER</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/bibliography/mnd/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/mnd/Bibliography/{% endif %}">BIBLIOGRAPHY</a></li>
                                                    <li class="dropdown-item"><a href="{% if site_request %}/appendix/mnd/{% else %}/corpus/{{ corpus_id }}/paratext-viewer/mnd/Appendix/{% endif %}">APPENDIX</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown menu-shadow ms-auto">
                                    <a class="dropdown-toggle info-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NVS INFO <img src="/static/svg/arrow.svg" class="right-chevron" /></a>
                                    <ul class="dropdown-menu info-menu menu-shadow">
                                        <li class="dropdown-item"><a href="{% if site_request %}/about/{% else %}/corpus/{{ corpus_id }}/about/{% endif %}">ABOUT</a></li>
                                        <li class="dropdown-item"><a href="{% if site_request %}/how-to/{% else %}/corpus/{{ corpus_id }}/how-to/{% endif %}">HOW TO DIGITAL NVS</a></li>
                                        <li class="dropdown-item"><a href="{% if site_request %}/faqs/{% else %}/corpus/{{ corpus_id }}/faqs/{% endif %}">FAQS & LEXICON</a></li>
                                        <li class="dropdown-item"><a href="{% if site_request %}/contributors/{% else %}/corpus/{{ corpus_id }}/contributors/{% endif %}">CONTRIBUTORS</a></li>
                                        <li class="dropdown-item"><a href="{% if site_request %}/print-editions/{% else %}/corpus/{{ corpus_id }}/print/{% endif %}">PRINT EDITIONS</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown menu-shadow">
                                    <a class="dropdown-toggle tools-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NVS TOOLS <img src="/static/svg/arrow.svg" class="right-chevron" /></a>
                                    <ul class="dropdown-menu tools-menu menu-shadow">
                                        <li class="dropdown-item"><a href="{% if site_request %}/tools/{% else %}/corpus/{{ corpus_id }}/tools/{% endif %}">ABOUT</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row no-gutters pt-3">
                        <div class="col-sm-7 d-flex align-items-end">
                            <div id="play-title">
                              <a href="{% if site_request %}/{% else %}/corpus/{{ corpus_id }}/home/{% endif %}" style="color: #000000;">HOME</a> <img src="/static/svg/arrow.svg" class="right-chevron" /> {{ play.title }} <img src="/static/svg/arrow.svg" class="right-chevron" /> <span class="title-section" style="white-space: nowrap;">Variorum Reader</span>
                            </div>
                        </div>
                        <div class="col-sm-5 byline-div d-flex align-items-end">
                            <div class="byline">
                                EDITORS: {{ editors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="playviewer-container"></div>

        </div>

        <script src="/static/js/bootstrap5.min.js" type="application/javascript"></script>
        <script src="/static/js/mark.min.js" type="application/javascript"></script>
        <script src="/static/js/utilities.js" type="application/javascript"></script>
        <script src="/static/js/commviewer.js" type="application/javascript"></script>
        <script src="/static/js/searchmanager.js" type="application/javascript"></script>
        <script src="/static/js/playviewer.js" type="application/javascript"></script>
        <script type="application/javascript">
            let playViewer = null

            document.addEventListener('DOMContentLoaded', function () {
                playViewer = new PlayViewer('playviewer-container', {
                    play: '{{ play_prefix }}',
                    host: '{{ corpora_host }}',
                    corpusID: '{{ corpus_id }}',
                    templatePath: '/static/templates',
                    doIdleLoading: true,
                    lineHeight: 40,
                    viewerHeight: '90vh',
                    initialLineCount: 100
                })
            })
        </script>
    </body>
</html>